/* =============================================================

structure:	1.		structure
			1.1 	elements
			2.0		rightnavi
			3.		topnavi
			3.1 	logo
			3.2 	login_register_info 
			4.		boards_view
			4.1		sectiontopbar (boardlist)
			4.2		board_view
			4.3		station
			4.4		task
			5.		popus
============================================================= */

@media only screen and (max-width: 800px) {
/* ==========================================================
	1. calibration and restoration
============================================================= */

header {
	height: 60px;
}

/* ==========================================================
	1.1 elements
============================================================= */

/* ==========================================================
	1.2 welcome div
============================================================= */

#welcome{
	height: 100%;
	background-size: auto 150%;
	background-position: center center;
	width; auto;
	}
	
#welcome h1 {
	font-size: 1em;
}

#welcome article {
	font-size: 0.75em;
}

/* ==========================================================
	3. rightnavi
============================================================= */

/* ==========================================================
	3. topnavi
============================================================= */
body>header>nav>div>nav button>span:LAST-CHILD {
	display: none;
}

/* ==========================================================
	3.1 logo
============================================================= */
header>nav>div#logo {
	width: 50px;
	max-width: 42px;
}

#logo>a>h1>p {
	display: none;
}

/* ==========================================================
	3.2 Login_form
============================================================= */
	#login_register_info {
	right: 50px;
	}
	
	#ogin_register_info>button {
	height:	50px;
	width: 25px;
	}

/*
	#login_register_info {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	overflow-x: auto;
	padding-bottom: 10px;
	position: relative;
	top: 0px;
	right: 0px;
	left: 0px;
	}
	*/

/* ==========================================================
	4. boards_view
============================================================= */
body>section:FIRST-CHILD {
	position: absolute;
	padding-right: 38px;
	width: auto;
	height: auto;
	bottom: 0;
}

/* ==========================================================
	4.1 sectiontopbar
============================================================= */

/* ==========================================================
	4.1.1 board_list
============================================================= */

/* ==========================================================
	4.1.2 filter_menu
============================================================= */

#filter_by_reporter>span:NTH-CHILD(1), #filter_by_assignee>span:NTH-CHILD(1){
	padding: 0;
	width: 25px;
}

#filter_by_reporter>span:NTH-CHILD(2), #filter_by_assignee>span:NTH-CHILD(2){
	display: none;
}

/* ==========================================================
	4.2 board_view
============================================================= */

body>section>section#boards_view {
	width: 100%;
}

/* ==========================================================
	4.3 board
============================================================= */
.board {
	width: 100%;
}

/* ==========================================================
	4.4 station
============================================================= */
#board_stations
	{
	width: 100%;
	top: 0;
	bottom: 0;
}

.station
	{
	display: inline;
	width: 50% !important;
	float: left;
	clear: left;
}

/* ==========================================================
	4.5 task
============================================================= */

/* ==========================================================
	4.6 register
============================================================= */
#register_form{
	position: relative;
	float:right;
	width: 100%;
	}
/* ==========================================================
	5. popups
============================================================= */














}

