<section id ="boards_view">
<nav id="sectiontopbar">

<select id="board_list">
</select>
<nav id="filter_nav">
<button id = "filter_menu_slide_button"><span class="fa fa-filter"></span></button>
<ul id="filter_menu">
	<li>
		<button id = "filter_by_reporter" onclick="filterTasksByReporter(onlyreporterstasks = !onlyreporterstasks)">Nur von mir erstellte Aufgaben</button> 
	</li>
	
	<li>
		<button id = "filter_by_assignee" onclick="filterTasksByAssignee(onlyassigneetasks = !onlyassigneetasks)">Nur mir zugewiesene Aufgaben</button> 
	</li>
</ul>
</nav>

<script type="text/javascript">
	$('#filter_menu').slideUp();
	$('#filter_menu_slide_button').click(function() {
		$('#filter_menu').slideToggle();
	});
</script>
</nav>


<div id="board_view">
	
</div>



</section>
